.App {
  text-align: center;
}

.App-header, .App-header-light {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.btn-top{
  width: 100%;
  display: flex ;
  justify-content: space-around;
  margin: 1rem 0
}

.button{
  background-color: #BB86FC; 
  border: none;
  margin: 0 25px;
}

.button:hover{
  background-color: #BB86FC;
  transform: scale(115%);
}

button:hover {
  transform: scale(120%);
}

.buttonQuery{
  display: none;
  z-index: 20;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 3rem;
  height: 3rem;
}

.buttonQuery span{
  font-size: 120%;
}

.ant-switch{
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #404040;
}

.ant-switch-checked{
  background-color: #e4e5f1;
}

.ant-list-item-action{
  margin-left: 0;
}

/* Dark */
.App-header {
  background-color: #262636;
  color: white!important;
}

.App-header .ant-card, 
.App-header .ant-checkbox-wrapper, 
.App-header .ant-card-head-title, 
.App-header .ant-card-actions
{
  background-color:  #81879E;
  color: white!important;
}
.App-header span,
.App-header h1, 
.App-header h2
{
  color: white;
}

.App-header hr
{
  width: 70%;
  height: 3px;
  background-color: white;
}

/* Light */
.App-header-light {
  background-color: #fafafa;
  color: #121212!important;
}

.App-header-light .ant-card, 
.App-header-light .ant-checkbox-wrapper, 
.App-header-light .ant-card-head-title, 
.App-header-light .ant-card-actions
{
  background-color:  #e4e5f1;
  color: #121212!important;
}
.App-header-light span,
.App-header-light h1, 
.App-header-light h2
{
  color: #121212;
}

.App-header-light hr
{
  width: 70%;
  height: 3px;
  background-color: #121212;
  opacity: 1;
}

/* query */

@media screen and (max-width: 600px) {
  .btn-top {
    display:block;
  }

  .button{
    margin: 1rem 1rem;
  }

  .btn-top .button:nth-child(1) {
    display:none;
  }

  .buttonQuery{
    display: block;
  }
}
